@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  .card {
    flex: 0 0 auto;
    width: 200px;
    margin-right: 16px;
  }

  .card:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease-in-out;
  }